In [1]:
import csv
import pandas as pd

a=[ [0,4,5],\
    [0,9,0]]
a[0][0]=[1,2,3]
a[1][0]=[6,7,8]

aa=pd.DataFrame(a)
aa

           0  1  2
0  [1, 2, 3]  4  5
1  [6, 7, 8]  9  0

In [2]:
aa[0]

0    [1, 2, 3]
1    [6, 7, 8]
Name: 0, dtype: object

In [3]:
type(aa[0])

pandas.core.series.Series

aa[0] and aa[1] are pandas core series

aa[0][0] is a list
aa[0][1] is a numpy.int64

aa[0][0][0] is an int

In [4]:
aa[0].to_list()

[[1, 2, 3], [6, 7, 8]]

In [5]:
#here we create a new dataframe x, which is done only with the first column of lists, splitted in multiple columns

x=[]
x=pd.DataFrame(aa[0].tolist())

print(type(x))
x

<class 'pandas.core.frame.DataFrame'>

   0  1  2
0  1  2  3
1  6  7  8

In [6]:
aa = aa.drop([0], axis=1)

aa = pd.concat([x, aa], axis=1)
aa.columns = ['investments1','investments2', 'investments3', 'inventories','expected investments' ]
aa

   investments1  investments2  investments3  inventories  expected investments
0             1             2             3            4                     5
1             6             7             8            9                     0

In [7]:
aa.to_csv("out.csv", header = False, index = False)

# altra via da vecchio programmatore...

In [8]:
d=[[[1,2],3],[[11,12],13]]
g=[]

def flattenList(d,g):
    for i in range(len(d)):
        g.append([])
        for j in range(len(d[i])):
            if isinstance(d[i][j],list):
                for k in range(len(d[i][j])):
                    g[i].append(d[i][j][k])
            else: g[i].append(d[i][j])
g

[[1, 2, 3], [11, 12, 13]]